[package]
name = "nexus-watcher"
version = "0.4.0"
edition = "2021"
description = "Nexus Watcher constructs a social graph out of all of the events on pubky-core homeservers"
homepage = "https://github.com/pubky/pubky-nexus"
repository = "https://github.com/pubky/pubky-nexus"
license = "MIT"

[dependencies]
async-trait = "0.1.88"
chrono = { version = "0.4.39", default-features = false, features = ["clock"] }
neo4rs = "0.8.0"
opentelemetry = { version = "0.29" }
pubky = "0.4.2"
pubky-app-specs = { version = "0.3.3", features = ["openapi"] }
nexus-common = { version = "0.4.0", path = "../nexus-common" }
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.140"
thiserror = "2.0.12"
tokio = { version = "1.44.2", features = ["full"] }
tracing = "0.1"

[dev-dependencies]
anyhow = "1.0.98"
httpc-test = "0.1.10"
pubky-homeserver = "0.1.2"
pubky-testnet = "0.1.2"
rand = "0.9.1"
rand_distr = "0.5.1"
tokio-shared-rt = "0.1"
reqwest = "0.12.15"
