[package]
name = "nexus-watcher"
version = "0.4.0"
edition = "2021"
description = "Nexus Watcher constructs a social graph out of all of the events on pubky-core homeservers"
homepage = "https://github.com/pubky/pubky-nexus"
repository = "https://github.com/pubky/pubky-nexus"
license = "MIT"

[dependencies]
async-trait = "0.1.85"
chrono = { version = "0.4.39", default-features = false, features = ["clock"] }
neo4rs = "0.8.0"
opentelemetry = { version = "0.28" }
pubky = "0.4.1"
pubky-app-specs = { version = "0.3.2", features = ["openapi"] }
nexus-common = { version = "0.4.0", path = "../nexus-common" }
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.137"
thiserror = "2.0.11"
tokio = { version = "1.43.0", features = ["full"] }
tracing = "0.1"

[dev-dependencies]
anyhow = "1.0.97"
httpc-test = "0.1.10"
pubky-homeserver = "0.1.1"
pubky-testnet = "0.1.1"
rand = "0.9.0"
rand_distr = "0.5.1"
tokio-shared-rt = "0.1"
reqwest = "0.12.12"