[package]
name = "nexus-watcher"
version = "0.4.1"
edition = "2021"
description = "Nexus Watcher constructs a social graph out of all of the events on pubky-core homeservers"
homepage = "https://github.com/pubky/pubky-nexus"
repository = "https://github.com/pubky/pubky-nexus"
license = "MIT"

[dependencies]
async-trait = { workspace = true }
chrono = { workspace = true }
neo4rs = { workspace = true }
opentelemetry = { workspace = true }
pubky = { workspace = true }
pubky-app-specs = { workspace = true }
nexus-common = { version = "0.4.1", path = "../nexus-common" }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
anyhow = "1.0.98"
httpc-test = "0.1.10"
pubky-testnet = "0.5.1"
rand = "0.9.1"
rand_distr = "0.5.1"
tokio-shared-rt = "0.1"
reqwest = "0.12.21"
