# Configuration files
/nexusd/src/migrations/conf.toml
# Test and mock data  
docker/.env
docker/.database*
# Files
/static
/nexus-watcher/static
/nexus-api/static
# Build artifacts
/target
# System-specific files
**/.DS_Store