# Configuration files
# Test and mock data  
docker/.env
docker/.database*
# Files
/examples/static
/nexus-webapi/static
/nexus-watcher/static
# Build artifacts
/target
# System-specific files
**/.DS_Store