[workspace]
# See: https://github.com/rust-lang/rust/issues/90148#issuecomment-949194352
resolver = "2"
members = [
    "nexus-webapi",
    "nexus-common",
    "nexus-watcher",
    "nexusd",
    "examples",
]

[workspace.dependencies]
async-trait = "0.1.88"
chrono = { version = "0.4.41", default-features = false, features = ["clock"] }
clap = "4.5.40"
neo4rs = "0.8.0"
opentelemetry = "0.30"
opentelemetry_sdk = { version = "0.30", features = ["rt-tokio"] }
pubky = "0.5.1"
pubky-app-specs = { version = "0.3.4", features = ["openapi"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
thiserror = "2.0.12"
tokio = { version = "1.45.1", features = ["full"] }
tracing = "0.1.41"
