[package]
name = "pubky-nexus"
version = "0.3.1"
edition = "2021"
description = "Nexus between homeservers and Pubky-App. Pubky-nexus constructs a social graph out of all of the events on pubky-core homeservers and exposes a social-media-like API capable of powerful Web-of-Trust inference."
homepage = "https://github.com/pubky"
repository = "https://github.com/pubky/pubky-nexus"
license = "MIT"
default-run = "service"
build = "build.rs"

[dependencies]
pubky = "0.4.1"
pubky-testnet = "0.1.1"
pubky-app-specs = { version = "0.3.2", features = ["openapi"] }
tokio = { version = "1.43.0", features = ["full"] }
axum = "0.8.1"
redis = { version = "0.29.0", features = ["tokio-comp", "json"] }
neo4rs = "0.8.0"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.137"
once_cell = "1.20.2"
utoipa = "5.3.1"
utoipa-swagger-ui = { version = "9.0.0", features = ["axum"] }
tower-http = { version = "0.6.2", features = ["fs", "cors"] }
dotenv = "0.15"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tracing-opentelemetry = "0.28"
opentelemetry = { version = "0.27" }
opentelemetry-otlp = "0.27"
opentelemetry-stdout = { version = "0.28" }
opentelemetry_sdk = { version = "0.27", features = ["rt-tokio"] }
opentelemetry-appender-tracing = "0.27"
const_format = "0.2.34"
thiserror = "2.0.11"
chrono = { version = "0.4.39", default-features = false, features = ["clock"] }
async-trait = "0.1.85"

[dev-dependencies]
anyhow = "1.0.95"
httpc-test = "0.1.10"
criterion = { version = "0.5.1", features = ["async_tokio"] }
pubky-homeserver = "0.1.1"
rand = "0.8.5"
rand_distr = "0.4.3"
tokio-shared-rt = "0.1"
url = "2.5.4"
reqwest = "0.12.12"

[lib]
name = "pubky_nexus"
path = "src/lib.rs"

[[bin]]
name = "service"
path = "src/service.rs"

[[bin]]
name = "watcher"
path = "src/watcher.rs"

[[bin]]
name = "migrations"
path = "src/migrations.rs"

[[bin]]
name = "mockdb"
path = "src/mock_db.rs"

[[bench]]
name = "user"
harness = false

[[bench]]
name = "tag"
harness = false

[[bench]]
name = "post"
harness = false

[[bench]]
name = "reindex"
harness = false

[[bench]]
name = "follows"
harness = false

[[bench]]
name = "streams"
harness = false

[[bench]]
name = "search"
harness = false

[[bench]]
name = "watcher"
harness = false

# Max performance profile
[profile.release]
opt-level = 3
codegen-units = 1
lto = true
incremental = false
