[package]
name = "pubky-nexus"
version = "0.2.0"
edition = "2021"
description = "Nexus between homeservers and Pubky-App. Pubky-nexus constructs a social graph out of all of the events on pubky-core homeservers and exposes a social-media-like API capable of powerful Web-of-Trust inference."
homepage = "https://github.com/pubky"
repository = "https://github.com/pubky/pubky-nexus"
license = "MIT"
default-run = "service"
build = "build.rs"

[dependencies]
bytes = "1.9.0" # Enforce this version as Pubky and Axum conflict v1.7.1 vs v1.9.0
pkarr = { git = "https://github.com/pubky/pkarr", branch = "v3-rc1", package = "pkarr" }
mainline = { git = "https://github.com/pubky/mainline", branch = "v5-rc1", default-features = false }
pubky = { git = "https://github.com/pubky/pubky", branch = "v0.4.0-rc1" }
pubky-app-specs = { git = "https://github.com/pubky/pubky-app-specs", features = [
    "openapi",
] }
tokio = { version = "1.42.0", features = ["full"] }
axum = "0.8.1"
redis = { version = "0.27.6", features = ["tokio-comp", "json"] }
neo4rs = "0.8.0"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.135"
once_cell = "1.20.2"
utoipa = { git = "https://github.com/juhaku/utoipa", rev = "d522f744259dc4fde5f45d187983fb68c8167029" }
utoipa-swagger-ui = { git = "https://github.com/juhaku/utoipa", rev = "d522f744259dc4fde5f45d187983fb68c8167029", features = [
    "axum",
] }
tower-http = { version = "0.6.2", features = ["fs", "cors"] }
dotenv = "0.15"
log = "0.4.22"
env_logger = "0.11.6"
const_format = "0.2.34"
thiserror = "2.0.9"
chrono = { version = "0.4.39", default-features = false, features = ["clock"] }
pubky-common = { git = "https://github.com/pubky/pubky", branch = "v0.4.0-rc1" }
base32 = "0.5.1"
blake3 = "1.5.5"
url = "2.5.4"
async-trait = "0.1.84"
reqwest = { version = "0.12.9", features = ["json"] }

[dev-dependencies]
anyhow = "1.0.95"
httpc-test = "0.1.10"
criterion = { version = "0.5.1", features = ["async_tokio"] }
pubky-homeserver = { git = "https://github.com/pubky/pubky", branch = "v0.4.0-rc1" }
rand = "0.8.5"
rand_distr = "0.4.3"
tokio-shared-rt = "0.1"

[lib]
name = "pubky_nexus"
path = "src/lib.rs"

[[bin]]
name = "service"
path = "src/service.rs"

[[bin]]
name = "watcher"
path = "src/watcher.rs"

[[bench]]
name = "user"
harness = false

[[bench]]
name = "tag"
harness = false

[[bench]]
name = "post"
harness = false

[[bench]]
name = "reindex"
harness = false

[[bench]]
name = "follows"
harness = false

[[bench]]
name = "streams"
harness = false

[[bench]]
name = "search"
harness = false

[[bench]]
name = "watcher"
harness = false

# Max performance profile
[profile.release]
opt-level = 3
codegen-units = 1
lto = true
incremental = false
