[package]
name = "pubky-nexus"
version = "0.1.0"
edition = "2021"
description = "Nexus between homeservers and Pubky-App. Pubky-nexus constructs a social graph out of all of the events on pubky-core homeservers and exposes a social-media-like API capable of powerful Web-of-Trust inference."
homepage = "https://github.com/pubky"
repository = "https://github.com/pubky/pubky-nexus"
license = "MIT"
default-run = "service"

[dependencies]
pkarr = { git = "https://github.com/Pubky/pkarr", branch = "v3", package = "pkarr", features = [
    "async",
] }
pubky = { path = "pubky/pubky" }
tokio = { version = "1.40.0", features = ["full"] }
axum = "0.7.6"
redis = { version = "0.27.2", features = ["tokio-comp", "json"] }
neo4rs = "0.8.0"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
once_cell = "1.19.0"
utoipa = "4.2.3"
utoipa-swagger-ui = { version = "7.1.0", features = ["axum"] }
tower-http = { version = "0.6.1", features = ["fs", "cors"] }
dotenv = "0.15"
log = "0.4.22"
env_logger = "0.11.5"
const_format = "0.2.33"
thiserror = "1.0.64"
chrono = "0.4.38"
pubky-common = { path = "pubky/pubky-common" }
reqwest = "0.12.7"
base32 = "0.5.1"
blake3 = "1.5.4"

[dev-dependencies]
anyhow = "1.0.89"
httpc-test = "0.1.10"
criterion = { version = "0.5.1", features = ["async_tokio"] }
pubky_homeserver = { path = "pubky/pubky-homeserver" }
rand = "0.8.5"
rand_distr = "0.4.3"

[lib]
name = "pubky_nexus"
path = "src/lib.rs"

[[bin]]
name = "service"
path = "src/service.rs"

[[bin]]
name = "watcher"
path = "src/watcher.rs"

[[bench]]
name = "user"
harness = false

[[bench]]
name = "tag"
harness = false

[[bench]]
name = "post"
harness = false

[[bench]]
name = "reindex"
harness = false

[[bench]]
name = "follows"
harness = false

[[bench]]
name = "stream"
harness = false

[[bench]]
name = "thread"
harness = false

[[bench]]
name = "search"
harness = false

[[bench]]
name = "watcher"
harness = false

# Max performance profile
[profile.release]
opt-level = 3
codegen-units = 1
lto = true
incremental = false
