[workspace]
# See: https://github.com/rust-lang/rust/issues/90148#issuecomment-949194352
resolver = "2"
members = [
    "nexus-webapi",
    "nexus-common",
    "nexus-watcher",
    "nexusd",
    "examples",
]

[workspace.dependencies]
anyhow = "1.0.99"
async-trait = "0.1.89"
chrono = { version = "0.4.41", default-features = false, features = ["clock"] }
clap = "4.5.45"
deadpool-redis = "0.22"
neo4rs = "0.8.0"
opentelemetry = "0.30"
opentelemetry_sdk = { version = "0.30", features = ["rt-tokio"] }
pubky = "0.5.4"
pubky-app-specs = { version = "0.3.5", features = ["openapi"] }
pubky-testnet = "0.5.4"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.143"
tempfile = { version = "3.20" }
thiserror = "2.0.16"
tokio = { version = "1.47.1", features = ["full"] }
tokio-shared-rt = "0.1"
tracing = "0.1.41"
