[package]
name = "nexus-common"
version = "0.0.1"
edition = "2021"
description = "Nexus common utils"
homepage = "https://github.com/pubky/pubky-nexus"
repository = "https://github.com/pubky/pubky-nexus"
license = "MIT"

[dependencies]
async-trait = "0.1.85"
chrono = { version = "0.4.39", default-features = false, features = ["clock"] }
neo4rs = "0.8.0"
once_cell = "1.20.2"
opentelemetry = { version = "0.28" }
opentelemetry-appender-tracing = "0.28.1"
opentelemetry-otlp = { version = "0.28", features = ["grpc-tonic"] }
opentelemetry_sdk = { version = "0.28", features = ["rt-tokio"] }
pubky = "0.4.1"
pubky-app-specs = { version = "0.3.2", features = ["openapi"] }
redis = { version = "0.29.0", features = ["tokio-comp", "json"] }
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.137"
thiserror = "2.0.11"
tokio = { version = "1.43.0", features = ["full"] }
toml = "0.8.20"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
utoipa = "5.3.1"