name: Format

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 4
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
          targets: x86_64-unknown-linux-gnu

      - name: Run cargo fmt
        run: cargo fmt -- --check # Fail if code is not formatted
